@import '../../@variables.scss';

.header {
  width: 100%;
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 500px;
  }

  span {
    font-weight: 700;
    font-size: 2.5em;
    color: $violet;
    margin-top: .4em;

    @media screen and (max-width: 630px) {
      font-size: 1.9em;
    }

    @media screen and (max-width: 480px) {
      font-size: 1.3em;
    }
  }
}
